<section class="container">
    <div class="row">
        <div class="col-lg-12 text-left" id="articles">
            {{#each result}}
            <h4>{{title}}</h4>
            <form action="/article/:id" method="POST">
                <textarea name="req.params.id" value="{{_id}}" placeholder="enter notes here"></textarea>
                <button type="submit" id="submit">Add Note</button>
                <button id="save">Save Article</button>
                <button id="delete">Delete Article</button>
            </form>
            {{/each}}
        </div>
    </div>
</section>